apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-dashboard-deployment
  labels:
    app: admin-dashboard
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin-dashboard
  template:
    metadata:
      labels:
        app: admin-dashboard
    spec:
      containers:
        - name: admin-dashboard-container
          image: IMAGE_NAME_PLACEHOLDER
          ports:
            - containerPort: 80
